* {
	margin:0;
	padding:0;
}

body {
	color:#000000;
	font:0.75em 'Lucida Grande',sans-serif;
}

a {
	color:#2786C2;
}

img{
	border-style:none; 
	border:0;
}

#header-side {
	width:250px;
	height:150px;
	/*background-image:url('sticker.png');*/
	background-repeat:no-repeat;
	float:right;
}

#header {
	font-size:1.0em;
	color:#FDFDF9;
	padding:10px 0px 10px 20px;
	border-bottom:3.0px solid #CD853F;
	background-color:#827B60;
}

#logo {
	font-size:2.0em;
}

#search {
	background-image:url('newspaper.gif');
	background-repeat:no-repeat;
	background-color:#E8E7E3;
	width:300px;
	height:150px;
	padding-left:250px;
	margin:20px 0px 40px 20px;
	float:left;
}

#search input {
	margin:5px 5px 5px 5px;
    width: 200px; 
}

#search fieldset {
	border:none;
}

form {
    margin-top: 55px;
}

.text {
	display:block;
}

.text label {
	float:left;
	width:60px;
	text-align:right;
}

.text input {
	float:right;
	width:150px;
	padding:2px 2px;
}

.clear {
	clear:both;
}

#selected {
    height:150px;
    width:150px;
    float:left;
}

#selected, #results {
	margin:20px 0px 10px 20px;
}

#results {
    clear:left;
    width:690px;
}

.alumnus {
    background-color:#E8E7E3;
	border:1.0px #999999;
	margin: 10px 0px 10px 0px;
	padding: 0px 10px 10px 10px;
	min-height:95px;
    list-style-type:none;
}

.alum {
    clear:left;
    padding: 10px 10px 10px 0px;
    min-height:10px;
}

.alum img, .alum span {
    float: left;
    margin-right:10px;
}

.alum span{
    font-size: 165%; 
}

.news-article {
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:2.0px dotted #CDD11B; 
}