* {
	margin:0;
	padding:0;
}

body {
  font-size: 62.5%;
	color:#000000;
	font-family: 'Lucida Grande', sans-serif;
}

a {
	color:#2786C2;
}

img{
	border-style:none; 
	border:0;
}

#header-side {
	width:25em;
	height:15em;
	background-repeat:no-repeat;
	float:right;
}

#header {
	color:#FDFDF9;
	padding:1em 0em 1em 2em;
	border-bottom:.3333em solid #CD853F;
	background-color:#827B60;
}

#logo {
	font-size:2.0em;
}

#search {
	background-image:url('newspaper.gif');
	background-repeat:no-repeat;
	background-color:#E8E7E3;
	width:30em;
	height:15em;
	padding-left:25em;
	margin:2em 0em 4em 2em;
	float:left;
}

#search input {
  margin:.5em;
  width: 20em;
}

#search fieldset {
	border:none;
}

form {
    margin-top: 5.5em;
}

.text {
	display:block;
}

.text label {
	float:left;
	width:6em;
	text-align:right;
}

.text input {
	float:right;
	width:15em;
	padding:.2em;
}

.clear {
	clear:both;
}

#selected {
    height:15em;
    width:15em;
    float:left;
}

#selected, #people, #news {
	margin:2em;
}

#people, #news {
  clear:left;
  float:left;
}

li.alumnus {
  display: inline-block;
  width:8em;
  height: 8em;
  border: solid 2px white;
  list-style-type:none;
}
li.alumnus:hover {
  border: solid 2px #666;
}
.alum {
  position: relative;
}
.alum span {
  position: absolute;
  top: 5em;
  left: .2em;
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .7);
}
.news-article {
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:2.0px dotted #CDD11B; 
}
